body {
  font-family: "Lato", sans-serif;
  color: darkslategray;
  font-weight: 300;
}

hr {
  border: none;
  height: 4px;
  color: #bcbbbb;
  background-color: #bcbbbb;
}

.text-muted {
  color: lightslategray;
}

.text-thin {
  font-weight: 100;
}

.title-super {
  font-size: 60px;
  margin-top: 50px;
}

.title-logo {
  margin-top: 20px;
}

.main-img {
  max-width: 100%;
}

.footer {
  margin-bottom: 20px;
}

.footer-social {
  margin-right: 10px;
  margin-left: 10px;
}

@media only screen and (max-width: 991px) {
  h2 {
    text-align: center;
  }
  
  .title-super {
    margin-top: 0;
  }
}
